@{
    ViewBag.Title = "MyRental History";
}
<h3>@ViewBag.Title</h3>
</ hr>
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="http://www.cargold-collection.com/cms_images/hi/mb-77sz-castagna-2.jpg"/>
        </div>
        <div class="item">
            <img src="http://www.scottgrundfor.com/wp-content/gallery/1971-3.5-Cabriolet-Black/IMG_0432.JPG" />
        </div>
        <div class="item">
            <img src="http://www.scottgrundfor.com/wp-content/gallery/1957-300SL-Roadster-Black/IMG_0524.JPG" />
        </div>
        <div class="item">
            <img src="http://media.autoblog.md/2017/04/Mercedes-Benz-SL-500-chei-pierdute_1.jpg" />
        </div>
        <div class="item">
            <img src="https://drop.ndtv.com/albums/AUTO/mercedes-amg_gt_c/16_294117_204119_2170.jpg" />
        </div>
    </div>
</div>

<div class="history">
    <p>1946 - MyRental is founded by Warren Avis at Willow Run Airport in Detroit with an $85,000 investment. This is the first car rental operation located at an airport. Soon after, facilities are opened at Miami Airport.</p>
    <p>1954 - MyRental is sold to Boston financier Richard S. Robie for $8 million.</p>
    <p>1960 - MyRental Europe corporate offices are established in the United Kingdom.</p>
    <p>1973 - MyRental is recognized as the market leader in Europe, Africa and the Middle East.</p>
    <p>1979 - MyRental enters a worldwide advertising and marketing agreement with General Motors and begins featuring GM cars in its fleet worldwide.</p>
    <p>1985 - Wizard is implemented in Europe, directly linking over 2,000 MyRental locations with the ability to interface with all major reservation systems.</p>
    <p>1989 - General Motors Corporation buys MyRental stock; becomes a minority shareholder. MyRental Europe is sold to Cilva Holdings, which is jointly owned by Lease International SA, General Motors Overseas Corporation and Avis, Inc.</p>
    <p>1991 - MyRental earns site visit by Malcolm Baldrige National Quality examiners in competition for prestigious award.</p>
    <p>1998 - MyRental purchases Hayes Leasing Company, Inc., a franchisee in Texas, and also makes six other smaller acquisitions.</p>
    <p>1999 - MyRental continues to purchase franchisees and acquires the fleet management and fuel card businesses of PHH and Wright Express to form MyRental Group Holdings, Inc.</p>
    <p>2001 - AARP names MyRental one of 11 "Exemplary Companies for Workers Over 50"</p>
    <p>2004 - MyRental launches MyRental Access - the first car rental offerings for travelers with disabilities.</p>
    <p>2006 - MyRental introduces 'Cool Cars', a collection of fun-to-drive vehicles that can be reserved by specific make and model</p>
    <p>2009 - MyRental launches an iPhone application making it the United States' first-ever rental car app</p>
    <p>2011 - MyRental Budget Group, Inc. acquires MyRental Europe plc. The transaction re-unites MyRental Budget Group with its licensee for Europe, the Middle East, Africa and Asia.</p>
</div>
