@{
    ViewBag.Title = "Contact";
}

<div class="row"style="background-image: url('http://www.transperfect.com/sites/all/themes/transperfect/images/slides/nyc_large.jpg'); height: 900px; width: 110%;">
    <div>
        <h2>Contacts</h2><br />
        <div class="col-sm-4">
            <address>
                <strong>North and Latin America</strong>(Headquarters)<br />
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">Phone:</abbr>
                425.555.0100<br />
                <abbr title="Fax">Fax:</abbr>
                425.556.0100<br />                 
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@myrental.com">Support@myrental.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@myrental.com">Marketing@myrental.com</a>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2688.3213186520593!2d-122.13057198436842!3d47.63932247918688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906d73f7de150b%3A0x922499d19305e9a0!2s1+Microsoft+Way%2C+Redmond%2C+WA+98052%2C+Stati+Uniti!5e0!3m2!1sit!2sro!4v1509207596119" width="300" height="200" frameborder="0" style="border: 2px  solid orange;" allowfullscreen></iframe>
            </address>
        </div>
        <div class="col-sm-4">
            <address>
                <strong>Europe</strong><br />
                21 Great Winchester Street<br />
                London EC2N 2JA, United Kingdom<br />
                <abbr title="Phone">Phone:</abbr>
                +32 22816111<br />
                <abbr title="Fax">Fax:</abbr>
                +32 22816112<br />                
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:SupportEU@myrental.com">SupportEU@myrental.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:MarketingEU@myrental.com">MarketingEU@myrental.com</a>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.8425915963494!2d-0.08779238422970051!3d51.516103779636516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cacdc04c1eb%3A0x45526b5c73d7249e!2s21+Great+Winchester+St%2C+London+EC2N+2JA%2C+Regno+Unito!5e0!3m2!1sit!2sro!4v1509207892978" width="300" height="200" frameborder="0" style="border: 2px  solid orange;" allowfullscreen></iframe>
            </address>
        </div>
            <div class="col-sm-4">
            <address>
                <strong>Asia and Pacific Ocean</strong><br />
                438A Alexandra Road<br />
                #05-05/08 Alexandra Technopark, 119967 Singapore<br />
                <abbr title="Phone">Phone:</abbr>
                65-6835-3011<br />
                <abbr title="Fax">Fax:</abbr>
                65-6835-2711<br />
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:SupportAP@example.com">SupportAP@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:MarketingAP@example.com">MarketingAP@example.com</a>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8261493093655!2d103.79860996475395!3d1.277801349068015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1bc7a8d74447%3A0x95a150c6fe87b355!2s438A+Alexandra+Rd%2C+Alexandra+Technopark%2C+Singapore+119967!5e0!3m2!1sit!2sro!4v1509208124478" width="300" height="200" frameborder="0" style="border: 2px  solid orange;" allowfullscreen></iframe>
            </address>
        </div>
    </div>
</div>

