@{
    ViewBag.Title = "Home Page";
}



    <!---<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->

<div class="row">
    
    <div class="col-md-6">
        <div id="quote">
            <h5>Don't dream it, Drive it!</h5>
            
        </div>
        <img src="http://stopngorentacar.com/wp-content/uploads/8-passenger-minivan-hps.jpg" alt="nice photo" img-responsive />      
    </div>
    <div class="col-md-6">
        <div class="col-sm-4">
            <h3>Explore the World at an affordable price</h3>
            <p>
                Our prepaid rates cover all the essentials for hiring a car - guaranteeing you great value for money whether you’re renting for a day, a weekend, a week or longer. Book online for a time and place to suit you, and you’re free to enjoy your pick of our hire car fleet for the best possible price. No hassle, no hidden fees.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Rated by more than 3 million people</h3>
            <p>Whatever your travel plans, you’ll need to hire a car that’s up to the job. Our global locations offer a selection of cars to suit a wide range of needs, from city run-arounds to family saloons and people carriers.We ask each of our customers to rate the company that provided their car. Check the scores - and make the right choice.</p>
        </div>
        <div class="col-sm-4">
            <h3>Why book with MyRental car hire</h3>
            <p>If you’re planning on travelling solo or with family, colleagues or friends, choose from our fleet of cars to ensure you drive in style, with a wide variety of extras to choose from for added comfort.</p>
            <p><a class="btn btn-default" href="http://localhost:58880/Customers/Create">BOOK NOW &raquo;</a></p>
        </div>
    </div>
</div>